.phone-book {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  margin: 0 0 10px 0;
  font-size: 40px;
  font-weight: 600px;
}

.subtitle {
  margin: 0 0 10px 0;
  font-size: 28px;
  font-weight: 500px;
}
